*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin: 10px;
    background-color: rgb(223, 245, 255);
}


.container{
    height: 90vh;
    border: none;
}

.dodavanje_novog_clana_forma{
    border: solid black thin;
    margin-bottom: 40px;
    background-color: rgb(237, 206, 210);
    color: black;
    width: 25%;
}

.dodavanje_novog_clana_forma p{
    padding: 5px;
}

.za_timer{
    margin-top: 10px;
    height: 3vh;
    border-radius: 2em;
    background-color: red;
}

